# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# APP_URL: The URL where this applet is hosted.
APP_URL=""

# Supabase Environment Variables
NEXT_PUBLIC_SUPABASE_URL="https://ympnoukwxgjtmhdtdihu.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_v5UywPgt3VQthz-MQFk0Vg_1_MxBOIx"